<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>写信</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body>

    <!-- 导航 -->
    <nav th:replace="_framents :: menu(1)" class="ui  attached segment my-padded-tb-mini my-shadow-small">
        <div class="ui container">
            <div class="ui  secondary stackable menu">
                <h2 class="ui teal header item">Mail</h2>
                <a href="#" class=" m-item item my-mobile-hidden"><i class="home icon"></i>首页</a>
                <a href="write-mail.html" class="active m-item item my-mobile-hidden"><i class="edit icon"></i>写信</a>
                <a href="inbox.html" class=" m-item item my-mobile-hidden"><i class="inbox icon"></i>收件箱</a>
                <a href="sent.html" class=" m-item item my-mobile-hidden"><i class="envelope icon"></i>已发送</a>
                <a href="self.html" class=" m-item item my-mobile-hidden"><i class="user icon"></i>用户中心</a>
                <a href="#" shiro:hasPermission="deleteMail" th:href="@{/deleteMail}"
                    class=" m-item item my-mobile-hidden"><i class="delete icon"></i>删除非法邮件</a>
                <a href="#" shiro:hasPermission="lockUser" th:href="@{/lockUser}"
                    class=" m-item item my-mobile-hidden"><i class="lock icon"></i>锁定非法用户</a>

                <div class="right m-item item my-mobile-hidden menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="https://picsum.photos/id/1000/100/100">
                            <span th:text="${user.name}">farewell</span>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/logout" class="item"><i class="sign-out icon"></i>登出</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle icon button my-right-top my-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <div class="my-container my-padded-tb-large">
        <div class="ui container">
            <div class="ui segments">
                <div class="ui segment">
                    <a class="ui active teal small button">
                        <i class="paper plane icon"></i>发送
                    </a>
                    <a class="ui  teal small button">
                        存草稿
                    </a>
                    <a class="ui  teal small button">
                        取消
                    </a>
                </div>
                <div class="ui segment">
                    <form action="" class="ui form">
                        <div class="inline fields">
                            <div class="two wide field">
                                <label for="">收件人：</label>
                            </div>
                            <div class="fourteen wide field">
                                <input type="text" name="receiverName" placeholder="此处填写收件人的用户名">
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="two wide field">
                                <label for="">收件人邮箱：</label>
                            </div>
                            <div class="fourteen wide field">
                                <div class="ui disabled input">
                                    <input type="text" name="receiverMail">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>正文</label>
                            <textarea name="body" id="" cols="30" rows="10"></textarea>
                        </div>
                    </form>
                    <div class="ui  section divider"></div>
                    <i class="user icon"></i> 发件人：<span style="color: blue;">farewell&lt;farewell@mail.com&gt;</span>
                </div>
                <div class="ui  segment">
                    <button class="ui active teal small button">
                        <i class="paper plane icon"></i>发送
                    </button>
                    <button class="ui  teal small button">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>

  
    <!-- 底部 -->
    <footer class="ui segment my-padded-tb-large">
        <div class="ui center aligned container">
            <div class="ui  section divider"></div>
            <p class="my-opacity-mini">Copyright © 2019 Designed by farewell</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item ').toggleClass('my-mobile-hidden');
        });
        $(".ui.dropdown").dropdown();
    </script>
</body>

</html>